<div class="row mb-3 align-items-center">
    <label for="{{name}}" class="form-label text-capitalize col">
        {{name}}
    </label>
    <input type="text" class="form-control col-12" placeholder="{{placeholder}}" value="{{value}}" name="{{name}}" />
</div>
